* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.application{
    width: 100vw;
    height: 100vh;
    background: #1bb9b0;
}

/*.div-1 {*/
    /*padding: 10px;*/
    /*width: 50%;*/
    /*font-size: 20px;*/
    /*color: aliceblue;*/
/*}*/


/*.parent-div{*/
    /*background: aqua;*/
    /*width: 40px;*/
    /*height: 20px;*/
/*}*/

/*.ellipsis {*/
    /*width: 100%;*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
/*}*/

.border {
    border: 1px solid black;
}

.parent-position-div {
    margin: 40px;
    padding: 40px;
    background: palegreen;
    width: 300px;
    height: 400px;
    position: relative;
}

.children-position-div {
    background: aqua;
    position: absolute;
    top: 0;
    left: 0;

}

.fixed-div {
    padding: 4px;
    margin: 4px;
    background: bisque;
    position: fixed;
    top: 0;
    left: 0;
}