* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-children {
    margin: 10px;
    padding: 30px;
    border: 1px solid black;
}

.grid-template {
    display: grid;
    grid-template-columns: 40% repeat(7, 30%);
    grid-template-rows: repeat(10, 40%);
}

.grid-children:nth-child(2n) {
    background: gray;
}

.grid-children:nth-child(2n + 1) {
    background: aqua;
}

.grid-children-3 {
    grid-column-start: 2;
    grid-column-end: 4;
}